# Webpack compiled bundle directory
dist/*

# Babel output directory
lib

# Node Modules
node_modules/*

# temporary files
*.tmp

# private notes
notes/*

# old/redundant files waiting to be deleted
*.ARCHIVE.*
